ul {
    overflow: hidden;
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: #333333;
}

ul li {
    float: left;
}

ul li a {
    display: block;
    text-decoration: none;
    color: white;
    text-align: center;
    padding: 15px;
}

ul li a:hover:not(.active) {
    background-color: #222222;
}

.active {
    background-color: lawngreen;
}